<div class="container-fluid">

<div class="row hidden-xs">
	<div class="steps">
		<div class="step1 col-md-3 currentStep">
			<div class="circle col-md-4">1</div>
			<!--<span class="tick col-md-1">&#10003;</span>-->
			<span class="stepName col-md-7"><a href="#/booking/tours">Tours</a></span>
		</div>
		<div class="step2 col-md-3">
			<div class="circle col-md-4">2</div>
			<!--<span class="tick col-md-1">&#10003;</span>-->
			<span class="stepName col-md-7">Passengers</span>
		</div>
		<div class="step3 col-md-3">
			<div class="circle col-md-4">3</div>
			<!--<span class="tick col-md-1">&#10003;</span>-->
			<span class="stepName col-md-7">Payment</span>
		</div>
		<div class="step4 col-md-3">
			<div class="circle col-md-4">4</div>
			<!--<span class="tick col-md-1">&#10003;</span>-->
			<span class="stepName col-md-7">Confirmation</span>
		</div>
	</div>
</div>

	
<hr /> 


    <div class="row">
	
		<h2>Tours and departure dates</h2>
		
		<p>Here is your currently selected tour dates, please the correct dates before continuing.</p>
		
		<div class="span8">
            <table class="table table-condensed table-responsive ">

                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <tr class="cartItemRow" ng-repeat="item in cart.items | orderBy:'name'">
					<td class="tdCenter text-center"><img ng-src="{{item.detail.tour.images[0]}}" height="140px" /></td>
                    <td>
						<div class="text-primary"><h4>{{item.name}}</h4></div>
						<div>Departure date: {{item.detail.date}}</div>
					</td>
                    <td class="tdRight">
						<div>{{item.price * item.quantity | currency}}</div>
					</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" class="text-danger" style="font-size:20px;" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
							<span class="glyphicon glyphicon-remove" ng-click="cart.removeItem(item.sku)"></span>
                        </a>
                    </td>
                </tr>

                <tr class="">
					<td></td>
                    <td class="text-right"><b>Total</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
				
            </table>
        </div>
	
        <div class="span8">

            <!-- items -->
            <table class="table table-bordered">

                <!-- header -->
                <tr class="well">
                    <td><b>Tour name</b></td>
                    <td class="tdCenter">Departure date</td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.name}} - {{item.detail.date}}</td>
                    <td class="tdCenter">
                      tour date here
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="cart.removeItem(item.sku)" >
                            remove icon
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td></td>
                    <td class="text-right"><b>Total</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div class="span4">
            <p class="text-info">
                <button 
                    class="btn btn-block" 
                    onclick="window.location.href='#/tours'">
                    <i class="icon-chevron-left" /> Book additional tours/dates
                </button>
                <button 
                    class="btn btn-block btn-danger" 
                    ng-click="cart.clearItems()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="icon-trash icon-white" /> clear cart
                </button>
            </p>

            <br /><br />
			
			<a href="#/booking/passengers" ng-show="canContinue()">Continue booking</a>

        </div>
    </div>
</div>
