<div class="container-fluid">

	<div class="row">
		<div class="col-md-3" id="toursSearchBox">

			<form class="form-horizontal">
			<fieldset>

				<div class="form-group">
					<label class="col-md-4 control-label" for="">Seach</label>  
					<div class="col-md-8">
						<input id="" name="" placeholder="" class="form-control input-md" type="text" ng-model="query.$">
					</div>
				</div>

				<hr >

				<div class="form-group">
					<label class="col-md-4 control-label" for="">Tour type</label>
					<div class="col-md-8">
						<select id="" name="" class="form-control" ng-model="query.tourtype">
							<option value="">All</option>
							<option value="1">Day Tours</option>
							<option value="2">Weekend Tours</option>
							<option value="3">Special tours</option>
						</select>
					</div>
				</div>

				<hr >

				<div class="form-group">
					<label class="col-md-4 control-label" for="">Tour duration</label>
					<div class="col-md-8">
						<select id="" name="" class="form-control" ng-model="query.duration">
							<option value="">All</option>
							<option value="1">1 Day</option>
							<option value="2">2 Day</option>
							<option value="3">3 Day</option>
							<option value="4">4 Day</option>
							<option value="5">5 Day</option>
							<option value="6">6 Day</option>
							<option value="7">7 Day</option>
							<option value="8">8 Day</option>
							<option value="9">9 Day</option>
						</select>
					</div>
				</div>

			</fieldset>
			</form>

		</div>
		<div class="col-md-9">
			<div id="tourListingHeader">
				<h2>New Zealand Tours</h2>
				<p>
					Explore the land of the long white cloud.<br />
					Our North Island tours range from 4 to 10 days and travel to the iconic locations of New Zealand’s North Island.
				</p>
			</div>
			<ul class="tours">
				<li ng-repeat="tour in tours | filter:query | orderBy:orderProperty" class="tourListing">
					<div class="row tourItem">
						<div class="col-md-4 col-xs-3">
							<a href="#/tours/{{tour.id}}" class="thumbnail tourItemThumbnail"><img ng-src="{{tour.imageUrl}}"></a>
						</div>
						<div class="col-md-8 col-xs-7">
							<div class="row"><h3 class="tourItemName"><a href="#/tours/{{tour.id}}">{{tour.name}}</a></h3></div>
							<div class="row"><span class="tourItemPrice">${{tour.price}}</span></div>
							<div class="row"><span class="tourItemSnippet">{{tour.snippet}}</span></div>
							<div class="row"><span class="tourItemControls pull-right">
								<a href="#/tours/{{tour.id}}" class="btn btn-success">View details and book</a>
							</span></div>
						</div>
						
						
					</div>
				</li>
			</ul>
		</div>
	</div>
  
</div>
