<div class="row">

	<div class="col-md-6 pull-right">
		<h1>{{tour.name}}</h1>

		<p class="tourDetailsPrice" ng-if="dates">From <span class="lead text-success">NZD${{dates[0].price}}</span> per person. <br />See dates for specials.</p>
		
		<p class="tourDetailsShortDesc">{{tour.shortDescription}}</p>
		
		<h3 class="text-primary">Book & Check Availability</h3>
		
		<div ng-if="dates">
		
			<!-- BOOKING FORM START -->
			<form name="bookDateForm" ng-submit="submitForm()" novalidate>
			
				<div class="tourDetailsDates">
					<div class="row">
						<div class="col-md-6">
							<span class="input-group" >
								<select name="bookingDate" class="form-control"
									ng-required="true" 
									ng-model="$parent.bookdate" 
									ng-options="o as (o.departureDate | date:'d MMMM yyyy') for o in dates"
									>
									<option value="" disabled>Choose a departure date</option>
									
								</select>
								
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</span>
							<input type="text" style="visibility:hidden;"
								ng-model="$parent.dt"
								datepicker-popup="{{format}}" 
								is-open="$parent.opened" 
								datepicker-options="dateOptions" 
								date-disabled="disabled(date, mode)"
								show-button-bar="false" 
								/>
							<p ng-show="showErrors && bookDateForm.bookingDate.$invalid" class="help-block">Departure date required.</p>
						</div>
					</div>
				</div>
				<!--<b>{{cart.getTotalCount()}}</b> items-->
				
				<div ng-show="bookdate">
					<h4>Seats available for booking!</h4>
					<p class="tourDetailsShortDesc">${{bookdate.price}} per passenger.</p>
				</div>
				
				
				<button type="submit" class="btn btn-primary" >Book now!</button>
			
			</form>
			<!-- BOOKING FORM END -->
		
		</div><!-- end ng-if dates -->
		<div ng-if="!dates">
			<p>Sorry this tour currently has no available dates to book.</p>
			<p>If you have a group or would like to organise a date for this trip, please contact us and let us know.</p>
			<br />
			<a href="#/contact" class="btn btn-primary">Contact us</a>
		</div>
		
	</div>

	<div class="col-md-6 pull-left">
		<div ng-if="images.length>0">
			<div class="tourImages">
				<div class="tourImg" ng-repeat="img in images" ng-class="{active: mainImageUrl==img.photo}">
					<span class="vAlignHelper"></span><img ng-src="http://tomcat-oneninetwo.rhcloud.com/uploads/{{img.photo}}" />
				</div>
			</div>
			<div class="tourThumbs">
				<ul>
					<li ng-repeat="img in images">
						<img ng-src="http://tomcat-oneninetwo.rhcloud.com/uploads/{{img.photo}}" ng-click="setImage(img)" />
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="images.length==null">
			<div class="tourImages">
				<img src="assets/img/bus.jpg" alt="" />
			</div>
		</div>
		<!--
		<div>
			<button id="" name="" class="btn btn-primary">
				<span class="glyphicon glyphicon-file"></span>Download Brochure
			</button>
		</div> 
		-->
	</div>

</div>

<div class="row">
	<div class="col-md-12">
		<hr />
		<div class="tourDesc">
		<h2>Tour Description</h2>
		<p>{{tour.description}}</p>
		</div>
	</div>
</div>